/* Font*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');

.content-team{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;}

.project-img{
    width: 100;
    }
.project-titles{
        font-size: 14px;
        font-weight: 400;
        color: #555;
        text-decoration: none;
    }
.project-links{
        font-size: 16px;
        font-weight: 400;
        color: #555;
        text-decoration: none;
    }   