@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&family=Inter:wght@400;500;600;700&display=swap');
*{
    font-family: Inter;
}

/* HEADER */
.bg-banner{
    background-color: white;
}
.title-banner{
    font-size: 48px;
    font-weight: 600;
    color:black;
}

/* FOOTER */
.footer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 255px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    color: #888;
}