<<<<<<< HEAD
/* Font*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Inter:wght@400;500;600;700&display=swap');

/* Global settings */
* {
    font-family: "IBM Plex Mono";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS */
.bg-black {
    background-color: rgb(31, 94, 230);
    padding: 45px 255px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link {
    display: flex;
    gap: 25px;
}
.link li {
    list-style: none;
}
.link li a { 
text-decoration: none;
color: #888888;
}
.link li a:hover { 
color: white;
}
.active {
    color: white !important;
}
/* content */
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 78px;
}
.content-tit{
    margin-top: 50px
    color: rgb(43, 29, 121);
    font-size: 45px ;
    font-weight: 800px;  
    align-items: center;
    justify-content : center;
}
.content-title{
    color: rgb(61, 33, 219);
    font-size: 36px ;
    font-weight: 600px;
}
.content-subtitle{
    color: #888888;
    font-size: 16px;
    font-weight: 400px;
}
.hero-img{
    margin-top: 30px;
    width: 100%;
}

/* Project */
.container{
    padding: 45px 255px;
}
.header-project{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.project-title{
    font-size: 32px;
    font-weight: 600;
}
.project-link{
    font-size: 16px;
    font-weight: 400;
    color: #555;
    text-decoration: none;
}
.content-project{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}
.project-img{
width: 100;
}
.project-titles{
    font-size: 14px;
    font-weight: 400;
    color: #555;
    text-decoration: none;
}
.project-links{
    font-size: 16px;
    font-weight: 400;
    color: #555;
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


img{
width: 10rem;
  }  
=======
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Inter:wght@400;500;600&display=swap');
* {
    font-family: "Inter";
}

.title-banner {
    font-size: 48px;
    font-weight: 600;
}
.mt-10{
    margin-top: 5rem;
}
img {
    width: 10rem;
}
>>>>>>> e3d8e131f267ff9b69741e41e7f5c747bd17fb03
