
/* Font*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Inter:wght@400;500;600;700&display=swap');

/* Global settings */
* {
    font-family: "IBM Plex Mono";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* content */
.content {
    display: flex;
    align-items: center;
    jus
}


.title-banner {
    font-size: 48px;
    font-weight: 600;
}
.mt-10{
    margin-top: 5rem;
}
img {
    width: 5rem;
}
.img-thumbnail{
    width: 10rem;
}
